@import '_plugins/normalize';




$default-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-font-size:   16px;
$default-line-height: 1.5;
$default-color:       #333;




a {
  color: inherit;
  //text-decoration: none;
}


%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


body {
	font-family: $default-font-family;
	font-size: $default-font-size;
	line-height: $default-line-height;
	color: $default-color;
}